<div class="jumbotron" ng-show="true" style="padding-top:2px">
    <div class=" panel-default" id="formPanel" style="margin-top:60px">
        <table style="margin-top:20px; margin-bottom:20px">
            <tr class="mainrows">
                <td>
                    <a href="#/faq">
                        <span class="glyphicon glyphicon-info-sign main"> </span>
                    </a>
                </td>
                <td>
                    <a href="#/askQuestion">
                        <span class="glyphicon glyphicon-question-sign main"> </span>
                    </a>
                </td>
            </tr>
            <tr class="mainrows">
                <td>
                    FAQ
                </td>
                <td>
                    SPØR OSS
                </td>
            </tr>
        </table>
    </div>
</div>
