<div class="container">
    <div class="navbar navbar-inner" role="navigation">
        <div class="row">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a href="#/">
                            <img src="../../Content/Img/snublevann_dark_transparent.png" id="logo" width="500" height="98" style="margin-left:20px" />
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="row-menu">
                            <div class="col-sm-12 col-md-12">
                                <div class="pull-left">
                                    <div class="row">
                                        <button class="btn btn-primary" id="btnFaq">
                                        <a href="#/faq">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                            FAQ
                                        </a>
                                        </button>
                                    </div>
                                </div>
                                <button class="btn btn-primary pull-right right" id="btnAsk">
                                    <a href="#/askQuestion">
                                        <span class="glyphicon glyphicon-pencil">       
                                        </span>
                                        Spør oss
                                    </a>
                                </button>
                                <button class="btn btn-primary pull-right right" id="asked">
                                    <a href="#/ask/asked">
                                        Stilte Spørmål
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>